* {
    margin: 0px;
    padding: 0px;
}

body {
    background: #0c739f linear-gradient(to bottom,
    #128aa7, #128aa7 30px,
    #5ef0ff 30px, #5ef0ff 31px,
    #10cde1 31px, #fff 183px,
    #40c6d3 175px, #0c739f 1020px);
    background-repeat: no-repeat;
}

.wrapper {
    margin: 0px auto 25px;
    width: 80%;
    height: 100%;
    background-color: white;
    /*z-index: 1;*/
}

.shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.logo {
    padding: 8px;
    float: left;
}

.logo img {
    position: relative;
    top: 9px;
}

.contacts {
    padding: 10px;
    float: right;
}

.text-contacts {
    list-style-type: none;
    color: #128aa7;
    line-height: 1.2;
    font-size: 20px;
}

.text-logo {
    font-family: "Tahoma";
    color: #128aa7;
    line-height: 1.2;
    top: -80px;
    margin-left: 25px;
    position: relative;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.clearfix-header::after, clearfix-header::before {
    content: "";
    display: table;
    clear: right;
}

.flag {
    float: right;
    margin-right: 15px;
    font-size: 13px;
    text-align: center;
}

.flag span {
    display: block;
}

.photo {
    margin-top: -22px;
    margin-bottom: -4px;
    width: 100%;
    border-top: solid 1px #128aa7;
    border-bottom: solid 1px #128aa7;
}

.footer {
    font-family: "Tahoma";
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.2;
    text-align: center;
    margin: 10px;
}

.col-container {
    display: table;
    width: 100%;
}

.col {
    display: table-cell;
}

.content {
    width: 50%;

}

.news, .information {
    background-color: #edeef0;
    width: 25%;
    text-align: center;
    border-left: solid 1px #c7cacf;
    border-right: solid 1px #c7cacf;
}

.line {
    border-bottom: solid 1px #c7cacf;
}
p{
    margin: 15px;
}

hr {
    width: 100%;
}

/*.text {
    margin: 15px;
}*/

h1 {
    font-size: 2.25em;
    text-align: center;
    margin: 50px;
}

/* ===================================    MENU   =============================*/
/* =======================================  UL ===============================*/
/* ================= ГАБАРИТЫ ПОЛОЖЕНИЕ ГРАНИЦЫ ФОН ВСЕГО МЕНЮ =======*/
ul.menu {
    margin: auto; /* центрируем    */
    width: 100%; /* центрируем    */
    list-style: none; /* убираем точки-маркеры   */
    background-color: #343434; /* задаем цвет фону меню  */
}

/*зачищаем края. Без этого блока будут проблемы с нижними соседями по потоку */
ul.menu:after {
    display: block;
    content: '';
    clear: both;
}

/* ====================================  LI  =================================*/
/* =============== ГАБАРИТЫ ПОЛОЖЕНИЕ ГРАНИЦЫ ФОН КНОПКИ МЕНЮ  =============*/
/*  Зададим точку отсчета для  абсолютного позиционирования
                                                от левого верхнего угла UL */
li.menu__item {
    float: left;
    text-align: center;
    position: relative;
    /*width: 135px;*/
    width: 15%;
    height: 40px;
    box-sizing: border-box;
    border-left: 5px solid #343434;
}

li.menu__item1 {
     float: left;
     text-align: center;
     position: relative;
     /*width: 150px;*/
     width: 15%;
     height: 40px;
     box-sizing: border-box;
     border-left: 5px solid #343434;
 }
li.menu__item2 {
    float: left;
    text-align: center;
    position: relative;
    /*width: 100px;*/
    width: 10%;
    height: 40px;
    box-sizing: border-box;
    border-left: 5px solid #343434;
}

/* ===============================  A  ====================================== */
/* ========== ОБЛАСТЬ КЛИКА = ГАБАРИТЫ ГРАНИЦЫ  ФОН ТЕКСТ КНОПКИ МЕНЮ  ====== */

a.menu__link {
    display: block; /* блочному элементу можно задать размеры */
    padding: 10px; /* паддинг ссылки -кликабелн                  */
    color: white; /* цвет текста                                */
    text-decoration: none; /*  убираем по умолчнию подчеркивание ссылки  */
    /*background: blue;              */
}

a.menu__link:hover {
    background-color: #343434; /* изменение оформления  - фон*/
    color: white; /* цвет текста  */
}

/* ===========================  SUBMENU  UL ================================= */
/* ================= ГАБАРИТЫ ПОЛОЖЕНИЕ ГРАНИЦЫ ФОН ВСЕГО МЕНЮ ============= */

ul.submenu {
    display: none; /*по умолчанию поля подменю - есть, но не отображаются */
    position: absolute;
    width: 135px;
    top: 40px; /* должно быть непрерывное соединение с hover элемента-предка  */
    left: 0;
    border: 1px solid #343434;
    box-shadow: 4px 4px 4px hsla(200, 0%, 0%, 0.6);
}

/* Элемент не обязательный, для страховки */
li.submenu__item {
    display: block;
}

/* ===============================     SUBMENU  A     ======================================== */
/* ========== ОБЛАСТЬ КЛИКА = ГАБАРИТЫ ГРАНИЦЫ  ФОН ТЕКСТ КНОПКИ МЕНЮ  ==================== */
a.submenu__link {
    display: block;
    padding: 10px;
    color: white;
    background-color: #343434;
    text-decoration: none;
}

a.submenu__link:hover {
    text-decoration: underline; /*при наведении на ссылку в подменю - появляется подчеркивание*/
}

/* =============================   SWITCH ON: SUBMENU  UL ==================================== */
/*при наведении на элемент списка верхнего урвня li:hover - меню проявляется*/
ul.menu > li.menu__item:hover > ul.submenu {
    display: block;
}