* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    background-color: #fff;
}

div {
    margin: 0;
    padding: 0;
    border: 0;
}

form input, textarea {
    outline: none;
}

body {
    width: 100%;
    min-width: 930px;
    color: #000;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #b1bcc0;
    outline: none;
}

a:hover {
    text-decoration: underline;
}

a img {
    border: none;
}

table, tr, td {
    margin: 0;
    padding: 0;
    border: 0;
}

.cleaner {
    clear: both;
}

.wrapper {
    width: 910px;
    margin: 0 auto -100px;
    position: relative;
    height: 100%;
    min-height: 700px;
}

/*----------------HEADER-----------*/

.header {
    height: 277px;
    width: 100%;
    padding: 11px 0 0 0;
    position: relative;
}

.phones {
    color: #213a4d;
    float: left;
    height: 27px;
    width: auto;
    padding: 5px 0 0 8px;
}

.phones img {
    float: left;
}

.phones span {
    font: 19px/19px Arial, Helvetica, sans-serif;
    margin: 5px 0 0 2px;
}

.login-form {
    width: 495px;
    height: 26px;
    background-image: linear-gradient(#1f6787, #0c3357);
    border-radius: 3px;
    float: left;
    margin: 1px 0 0 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.login-form div {
    float: left;
    height: 100%;
}
.login-left{
    width: 12px;
    padding: 0 0 0 10px;
}
.login-left img{
    padding: 3px 0;
    margin: 0 0 0 -3px;
}

.login-center form {
    width: 278px;
    float: left;
    margin: 1px -7px 0 3px;
}

.login-center form input {
    float: left;
    font: 12px Arial, sans-serif;
    width: 112px;
    height: 14px;
    color: #51676f;
    margin: 3px 6px 0 -1px;
}

.login-center a {
    margin: 0 0 0 2px;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 11px;
    letter-spacing: 1px;
}

.login-center span {
    color: #fff;
    font-size: 11px;
}

.login-form-submit {
    float: right;
    height: 13px;
    width: 33px;
    border: none;
    background: none;
    color: #fff;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    cursor: pointer;
    margin: 4px 6px 0 0;
}

.mini-menu {
    height:33px;
    width:85px;
    background:url(../img/mini-menu.png) no-repeat;
    float:right;
    padding: 4px 1px 0 4px;
    margin: -4px -3px 5px 0;
}

.mini-menu img {
    margin: 0 -4px 0 9px;
}

.center-image {
    float: left;
    width: 909px;
    height: 237px;
    background: url(../img/bg.jpg) no-repeat;
    margin: -1px 0;
}

.center-image a {
    display: block;
    margin: 100px 0 0 2px;
    width: 266px;
    height: 70px;
}

.wrong-name {
    position: relative;
    z-index: 10;
    margin: 5px 0 0 5px;
    width: 230px;
    height: 50px !important;
    background-color: #546778;
    border-left: 1px solid #aeb7c0;
    border-bottom: 1px solid #aeb7c0;
    border-right: 1px solid #aeb7c0;
}

.wrong-name img {
    float: left;
    margin: 7px 13px 15px 10px;
}

.wrong-name p {
    padding: 8px 0 0 0;
    color: #fff;
    font-size: 13px;
}

.users-login {
    display: block;
    height: 18px;
    padding: 0 0 0 20px;
    width: 245px;
    float: left;
}

.authorized {
    text-decoration: underline;
    padding: 0 20px 0 30px;
}

/*---------------------CENTER-MENU-----------*/

.main-menu {
    width: 915px;
    height: 41px;
    margin: 3px 0 0 0;
}

.main-menu div {
    float: left;
}

.main-menu-center {
    width: 912px;
    height: 34px;
    border-radius: 5px;
    background-image: linear-gradient(#4d5663, #030303);
}

.main-menu-center ul {
    display: block;
    height: 30px;
    width: 575px;
    padding:0 100px;
}

.main-menu-center ul li {
    display: inline-block;
    font: 14px Arial, sans-serif;
    color: #fff;
    width: 105px;
    float: left;
    padding: 1px 0;
}

.main-menu-center ul li a {
    color: #b1bcc0;
    padding: 7px 41px;
    display: block;
    width: 100%;
    text-align: center;
}

.main-menu-center ul li a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #103d61;
    border-radius: 15px;
}

.case {
    margin: -28px 25px 0 0;
    /*height: 17px;*/
    /*width: 216px;*/
    float: right !important;
    color: #fff;
}

.case span {
    position: relative;
    /*top: -2px;*/
    left: 0;
    color: #899296;
    font: 12px/8px Arial, Helvetica, sans-serif;
}

.case img {
    margin: 3px 6px;
    float: left;
}
/*--------------------SEARCH-----------------*/

.search {
    margin: 5px 0 0 0;
    width: 100%;
    height: 144px;
    /*padding: 10px 0;*/
}

.search form {
    height: 100%;
}

.search-car {
    position: relative;
    float: left;
    width: 384px;
    padding:8px 15px 0 15px;
    /*height: 100%;*/
    border: 1px solid grey;
    border-radius: 18px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin: -1px 5px;
}

.search-tires {
    position: relative;
    margin: -1px 9px;
    padding: 5px 11px 0 15px;
    float: left;
    width: 165px;
    /*height: 100%;*/
    border: 1px solid grey;
    border-radius: 18px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.search-wheels {
    position: relative;
    float: left;
    padding: 5px 16px 0 14px;
    width: 235px;
    /*height: 100%;*/
    border: 1px solid grey;
    border-radius: 14px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.search-title {
    font-size: 12px;
    font-weight: bold;
    color: #114165;
    display: block;
    text-align: center;
    margin: -3px auto 0;
}

.title-left {
    text-align: left;
}

.title-right {
    text-align: right;
    margin: -14px 0 0 0;
}

.search-properties {
    width: 180px;
    height: 90px;
    float: left;
    padding: 5px 0 0 0;
}

.prop-margin {
    margin: 0 0 0 20px;
}

/* here "prop" means "properties" */
.search-prop-inner {
    height: 17px;
    margin: 0 0 5px 0;
    width: 100%;
}

.search-prop-inner span {
    font-size: 10px;
    font-weight: bold;
    display: block;
    float: left;
    height: 10px;
}

.search-prop-inner select {
    margin: 2px 0 0 0;
    height: 17px;
    width: 100px;
    float: right;
    background: none;
    padding: 0;
    border-top: 1px solid #979797;
    border-left: 1px solid #979797;
    border-bottom: 0;
    border-right: 0;
    font-size: 10px;
    outline: none;
}

.search-prop-inner-half {
    height: 17px;
    margin: 0 0 5px 0;
    width: 100%;
}

.search-prop-inner-half span {
    font-size: 10px;
    font-weight: bold;
    display: block;
    float: left;
    height: 10px;
}

.search-prop-inner-half select {
    margin: -13px 35px 0 0;
    height: 17px;
    width: 57px;
    float: right;
    background: none;
    padding: 0;
    border-top: 1px solid #979797;
    border-left: 1px solid #979797;
    border-bottom: 0;
    border-right: 0;
    font-size: 10px;
    outline: none;
}

.search-go {
    float: right;
    border: none;
    background: url(../img/search-go.png) no-repeat;
    height: 12px;
    width: 52px;
}

.search-go[disabled="disabled"] {
    float: right;
    border: none;
    /*background: url(../img/search-go-inactive.png) no-repeat;*/
    height: 12px;
    width: 52px;
    margin: 2px 16px 0 0;
}
.car-prop select {
    /*width: 100px;*/
    /*float: left;*/
}
.car-prop {
    width: 170px;
    margin: 14px 0 0 0;
}
.car-prop span {
}

.tires-prop {
    width: 170px;
    margin: 14px 0 0 0;
}

.tires-prop select {
    width: 56px;
    float: left;
}

.tires-prop span {
}

.check-div span {
    float: left;
    margin: 1px 0 0 0;
    display: block;
}

.check-div input {
    float: left;
    margin: 2px 3px 0 0;
    display: block;
}

.check-div {
    margin: 4px 0 0 0;
    height: 10px;
    width: 90px;
    float: left;
}

.wheels-right {
    /*border-left: 1px solid #bdc6ca;*/
    float: left;
    width: 80px;
    height: 107px;
    position: absolute;
    top: 4px;
    left: 160px;
    padding: 0 0 0 10px;
    font-size: 10px;
}

.wheels-right span {
    display: block;
    height: 10px;
    float: left;
    margin: -3px 0 0 16px;
}

.wheels-right select {
    width: 50px;
    float: left;
    margin: 4px 0 0 0;
    background: none;
    padding: 0;
    border-top: 1px solid #979797;
    border-left: 1px solid #979797;
    border-bottom: 0;
    border-right: 0;
    font-size: 10px;
    outline: none;
}
.car-prop-right {
    /*border-left: 1px solid #bdc6ca;*/
    float: right;
    width: 100px;
    height: 107px;
    position: absolute;
    top: 4px;
    left: 160px;
    padding: 0 0 0 10px;
    font-size: 10px;
}

.car-prop-right span {
    height: 10px;
    margin: 0 0 0 52px;
}

.car-prop-right select {
    width: 100px;
    float: right;
    margin: -13px -128px 0 0;
    background: none;
    padding: 0;
    border-top: 1px solid #979797;
    border-left: 1px solid #979797;
    border-bottom: 0;
    border-right: 0;
    font-size: 10px;
    outline: none;
}
/*---------------------MIDDLE----------------*/

.left-side {
    float: left;
    width: 190px;
    height: auto;
    min-height: 300px;
    margin: 0 0 30px 0;
}

.center-content {
    float: left;
    /*margin: 0 2px 30px;*/
    padding: 0 0 27px 0;
    background-image: linear-gradient(#e5e7e8, #93a7b0);
    width: 527px;
    height: auto;
    border-radius: 3px;
}

.right-side {
    padding: 0 0 0 3px;
    float: left;
    width: 187px;
    height: auto;
    min-height: 350px;
    margin: 0 0 30px 0;
}

.middle {
    width: 100%;
    height: auto;
    margin: 5px 0 0 0;
}

.side-menu-title-left {
    height: 25px;
    width: 156px;
    padding: 8px 0 0 30px;
    background: url(../img/menu-title-back.png) no-repeat;
    color: #114165;
    font: 12px/13px Verdana, Arial, sans-serif;
    margin: 3px 0 0 0;
}
.side-menu-title-right {
    height: 25px;
    width: 156px;
    padding: 4px 0 0 35px;
    background: url(../img/menu-title-back.png) no-repeat;
    color: #114165;
    font: 12px/13px Verdana, Arial, sans-serif;
    margin: 2px 0 0 8px;
}

.side-menu-block-left {
    height: auto;
    width: 180px;
    padding: 0 0 0 3px;
    margin: 10px 0 10px 0;
}
.side-menu-block-right {
    height: auto;
    width: 165px;
    padding: 0 0 0 9px;
    margin: 9px 0 0 9px;
}

.side-block-title-left {
    padding: 7px 0 0 34px;
    display: block;
    width: 118px;
    height: 21px;
    background: url(../img/menu-item-title-back.png) no-repeat;
    color: #114165;
    font: 12px/13px Verdana, Arial, sans-serif;
}
.side-block-title-right {
    padding: 7px 0 0 32px;
    display: block;
    width: 118px;
    height: 21px;
    background: url(../img/menu-item-title-back.png) no-repeat;
    color: #114165;
    font: 12px/13px Verdana, Arial, sans-serif;
}

.side-menu-item-left {
    display: block;
    width: 130px;
    height: 19px;
    padding: 0 0 0 15px;
    margin: 3px 0 0 30px;
    color: #465961;
    font: 12px Verdana, Arial, sans-serif;
    background: url(../img/marker.png) no-repeat 4px 4px;
    font-weight: normal;
}

.side-menu-item-right {
    display: block;
    width: 130px;
    height: 14px;
    padding: 1px 0 0 10px;
    margin: 10px 0 0 30px;
    color: #465961;
    font: 12px/13px Verdana, Arial, sans-serif;
    /*background: url(../img/marker.png) no-repeat 0 4px;*/
    font-weight: normal;
}

.side-menu-item-left-active {
    display: block;
    width: 130px;
    height: 14px;
    padding: 1px 0 0 10px;
    margin: 10px 0 0 30px;
    color: #465961;
    font: 14px/13px Verdana, Arial, sans-serif;
    text-decoration: underline;
    /*background: url(../img/marker.png) no-repeat 0 4px;*/
    font-weight: bold;
}
.side-menu-item-right-active {
    display: block;
    width: 130px;
    height: 14px;
    padding: 1px 0 0 10px;
    margin: 10px 0 0 30px;
    color: #465961;
    font: 14px/13px  Verdana, Arial, sans-serif;
    text-decoration: underline;
    /*background: url(../img/marker.png) no-repeat 0 4px;*/
    font-weight: bold;
}

.side-menu-item-left:hover {
    font-size: 13px;
    font-weight: bold;
    /*background: url(../img/marker-hover.png) no-repeat 0 5px;*/
    color: #0c3256;
}
.side-menu-item-right:hover {
    font-size: 13px;
    font-weight: bold;
    /*background: url(../img/marker-hover.png) no-repeat 0 5px;*/
    color: #0c3256;
}

.right-menu-choose {
    height: 25px;
    width: 83px;
    border: 1px solid #1b5a7b;
    border-radius: 20px;
    background-color: #1b5a7b;
    color: white;
    text-align: center;
    margin: 15px 0 0 30px;
    cursor: pointer;
}

.checkbox-menu-item {
    position: relative;
    display: block;
    height: 20px;
    width: 100%;
    color: #465961;
    margin: 7px 0 -2px;
    padding: 0 0 0 38px;
    font: 12px/13px  Verdana, Arial, sans-serif;
}

.checkbox-menu-item input {
    position: absolute;
    top: 1px;
    left: 10px;
}

.middle-item {
    float: left;
    width: 140px;
    height: 180px;
    text-align: center;
    margin: 16px 17px;;
}

.middle-item-company {
    color: #206988;
    font: 14px/14px Verdana, Arial, sans-serif;
}

.middle-item-model {
    margin: 0 0 3px 0;
    color: #1f2528;
    height: 26px;
    font: 11px/13px Verdana, Arial, sans-serif;
}

.middle-item-image {
    text-align: center;
    display: table;
    width: 140px;
    height: 129px;
    border-radius: 8px;
    background-color: white;
    margin: -16px 0 0 7px;
}

.middle-item-image a {
    display: table-cell;
    vertical-align: middle;
}

.middle-item-image a img {
    max-width: 136px;
}

.middle-item-price {
    margin: 5px 0 0 0;
    color: #114165;
    font: bold 13px/13px Verdana, Arial, sans-serif;
}

.middle-item-company2 {
    color: #206988;
    width: 150px;
    text-align: center;
    font: 15px/14px Verdana, Arial, sans-serif;
}

.middle-item-model2 {
    text-align: center;
    width: 150px;
    margin: 3px 0 3px 0;
    color: #1f2528;
    font: 12px/13px Verdana, Arial, sans-serif;
}

.middle-item-price2 {
    width: 130px;
    position: absolute;
    top: 30px;
    text-align: center;
    left: 207px;
    margin: 5px 0 0 0;
    color: #114165;
    font: bold 13px/13px Verdana, Arial, sans-serif;
}

.tire-companies {
    width: 100%;
    margin: 35px 0 21px;
    text-align: center;
}
/*---------------------FOOTER---------------*/
.footer {
    margin: 0 auto;
    /*width: 100%;*/
    height: 100px;
    text-align: center;
    font-family: Tahoma, Arial, sans-serif;
    background-color: #213a4d;
}

.footer ul {
    padding: 5px 3px 10px 0;
}

.footer ul li {
    display: inline;
    color: #bec6c9;
    font-size: 13px;
}

.footer ul li a:hover {
    color: #52abcb;
    text-decoration: none;
}

.footer p {
    padding: 0 0 3px 0;
    color: #d04435;
    font-size: 11px;
}

.footer p a {
    color: #d04435;
}