* {
    margin: 0px;
    padding: 0px;
}

body {
    background: url(../img/bg.jpg);
    background-size: cover;
    overflow: hidden;
}

@font-face {
    font-family: 'Helvetica Neue Regular';
    src: url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
    url('../fonts/helveticaneue-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*--------------------------------------------------------menu-------------------------------------------------------*/
.menu {
    background-color: rgb(8, 84, 148);
    width: 100%;
    height: 40px;
}

.menu__item1 {
    list-style-type: none;
    float: right;
    text-decoration: none;
    text-align: center;
}

.menu__item1 span {
    display: inline-block;
    overflow: auto;
}

.menu__item2 {
    display: inline-block;
    font-family: 'Helvetica Neue Regular', Tahoma sans-serif;
    float: right;
    text-align: center;
    color: white;
    padding-left: 10px;
    background-color: rgb(8, 84, 148);
    background-image: linear-gradient(#51b1dc, #2e7ac4);
    border-radius: 2px;
}

.menu__item3 {
    padding-right: 30px;
    background-color: rgb(8, 84, 148);
}

.flag {
    display: inline-block;
    border-left: 2px solid #2e7ac4;
    padding-left: 20px;
    height: 40px;
}

.active_page {
    display: inline-block;
    text-decoration: none;
}

/*-----------------------------------------------hover for menu------------------------------------------------------*/
a.menu__link {
    display: inline-block;
    font-family: 'Helvetica Neue Regular', Tahoma sans-serif;
    padding: 10px;
    color: #60b5ed;
    text-decoration: none;
    clear: both;
}

a.menu__link2 {
    display: inline-block;
    font-family: 'Helvetica Neue Regular', Tahoma sans-serif;
    padding: 10px;
    color: white;
    text-decoration: underline;
}

a.menu__link:hover {
    background-color: #4eabda;
    color: white;
}

/*------------------------------------------------------reg form-----------------------------------------------------*/

.loginBtn {
    font-family: 'Helvetica Neue Regular', Tahoma sans-serif;
    box-sizing: border-box;
    position: relative;
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
}

.loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
}

.loginBtn:focus {
    outline: none;
}

.loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}

/* Facebook */
.loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    text-shadow: 0 -1px 0 #354C8C;
}

.loginBtn--facebook:before {
    border-right: #364e92 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}

.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
}
.reg_window{
    margin-left: 35%;
    margin-top: 50%;
    transform: translateY(-95%);
    width: 500px;
    height: 700px;
}
.reg_form {
    /*margin-left: 35%;*/
    /*margin-top: 50%;*/
    /*transform: translateY(-130%);*/
    background-color: rgba(59, 62, 48, 0.5);
    /*width: 30%;*/
    text-align: center;
    line-height: 40px;
}
.padding{
    padding: 20px;
}

.h2 {
    color: rgb(255, 255, 255);
    width: 100%;
    font-family: 'Helvetica Neue Regular', Tahoma sans-serif;
    border-bottom: 2px solid #d0d4c6;
    padding: 5px;
}

.text_color{
    font-family: 'Helvetica Neue Regular', Tahoma sans-serif;
    font-size: 1em;
    color: #cccccc;
}

.line {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    font: 1.2em/1.1 Georgia;
    padding: .2em 0;
    text-shadow: 0 1px rgba(255,255,255,.6);
}
.line:before,
.line:after {
    content: "";
    position: relative;
    display: inline-block;
    width: 25%;
    height: 2px;

    vertical-align: middle;
    background: #000;
    background-clip: content-box;
    border-bottom: 1px solid rgba(255,255,255,.5);
}
.line:before {
    left: -.5em;
    margin: 0 0 0 -50%;
}
.line:after {
    left: .5em;
    margin: 0 -50% 0 0;
}
.line>span {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
}
/*------------------------------------------------------input--------------------------------------------------------*/

.form-row {
    font-family: 'Helvetica Neue Regular', Tahoma sans-serif;
    margin-bottom: 8px;
}

.form-row input {
    width: 60%;
    font-family: 'Helvetica Neue Regular', Tahoma sans-serif;
    padding: 6px 0 4px 10px;
    border: 1px solid #0f0f0f;
    background: #0f0f0f;
    color: white;
}

.form-row input:active {
    background: #1b5288;
    border: 1px solid rgb(105, 155, 204);
    box-shadow: 0 0 10px rgb(105, 155, 204);
}
.form-row input:focus {
    background: #1b5288;
    border: 1px solid rgb(105, 155, 204);
    box-shadow: 0 0 10px rgb(105, 155, 204);
}

.form-row input[type=submit] {
    font-family: 'Helvetica Neue Regular', Tahoma sans-serif;
    width: 50%;
    height: 35px;
    background-color: #3c8fce;
    background-image: linear-gradient(#6bb8e7, #2e7ac4);
    color: white;
    border-radius: 4px;
    border-color: #61a6e2;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

/*-------------------------------------------------------checkbox----------------------------------------------------*/

.check {
    display: inline-block;
    font-family: 'Helvetica Neue Regular', Tahoma sans-serif;
    background-position: 0 3px;
    cursor: pointer;
}

.check.active {
    background-position: 0 -27px;
}

p {
    font-family: 'Helvetica Neue Regular', Tahoma sans-serif;
    line-height: 1.2em;
}